<div class="jumbotron text-center" style="background-color:#ff92f5;>
<h2 class= "display-4"><h1> SCRUNCH ME</h1> <%= image_tag "scrunchme.png" %>
<h2>Articles about Scrunchies <a href="/scrunchies">(+)</a></h2>
<h2>A very curated list of the best Scrunchies to buy <a href="/products">(+)</a></h2>
<h2>Learn how to do le Scrunch <a href="/moods">(+)</a> </h2>
<%= image_tag "giphy.gif"%>
</div>


<%= image_tag "runwayscrunchies.jpg", class: 'image-sizer' %>
<%= image_tag "scrunchiehilary.jpg", class: 'image-sizer' %>
<%= image_tag "scrunchieblue.jpg", class: 'image-sizer' %>
<%= image_tag "scrunchieorange.jpg" , class: 'image-sizer'%>
<%= image_tag "scrunchiemodels.jpg", class: 'image-sizer' %>
<%= image_tag "scrunchieswhite.jpg" , class: 'image-sizer'%>
<%= image_tag "scrunchiejlo.jpg", class: 'image-sizer' %>
<%= image_tag "scrunchieblack.jpg" , class: 'image-sizer'%>
<%= image_tag "scrunchieweird.jpg" , class: 'image-sizer'%>






