<h1> SCRUNCH ME</h1>
<h2>Articles about Scrunchies <a href="/scrunchies">(+)</a></h2>
<h2>A very curated list of the best Scrunchies to buy <a href="/products">(+)</a></h2>
<h2>Learn how to do le Scrunch <a href="/moods">(+)</a> </h2>


<%= image_tag "runwayscrunchies.jpg"%>
<%= image_tag "scrunchiehilary.jpg" %>
<%= image_tag "scrunchieblue.jpg" %>
<%= image_tag "scrunchieorange.jpg" %>
<%= image_tag "scrunchiemodels.jpg" %>
<%= image_tag "scrunchieswhite.jpg" %>
<%= image_tag "scrunchiejlo.jpg" %>
<%= image_tag "scrunchieblack.jpg" %>
<%= image_tag "scrunchieweird.jpg" %>